<html>
    <head>
        <title>Cluster Updater</title>
    </head>
    <body>
        <h1>Cluster Updater</h1>
        <p>Enter cluster name here to view it.</p>
        <form action="/clusters">
            Cluster name: <input type="text" name="cluster">
            <input type="submit" value="Submit">
        </form>
        {{!extra}}
    </body>
<html>